extends layout

block content

  - let gift = results
  h1= title
  - let create = `dispatch(\"/gifts/create\")`
  button.btn(class="btn-info", onclick=create) Add new gifts

  div(class="container-fluid")
    div(class="row m-1")
      each gifts in gift
        - let destination = `dispatch(\"/gifts/update?id=${gifts._id}\")`
        - let detail = `dispatch(\"/gifts/detail/?id=${gifts._id}")`
        - let deletegifts = `dispatch(\"/gifts/delete/?id=${gifts._id}")`      
        div(class="row-sm-2", class="m-1") 
          | #{gifts.gift_name} (#{gifts.numof_gifts}) is #{gifts.gift_value}
          button.btn(class="btn-primary ml-1", onclick=destination) Update
          button.btn(class="btn-success", onclick=detail) Details
          button.btn(class="btn-dark", onclick=deletegifts) Delete

  script.
    function dispatch(path){
      window.location.href = path
    }